__pycache__/
.vscode

# keeping ini private
.uwsgi-py3.ini

# logs and data
.uwsgi-py3.log
*.sqlite
tabulatefiles

# generated
html/cache.html
html/index.html
html/plzashiny.html
html/box9guide.html

#symlinks
alt1/constructioncontracts
alt1/transcriber