__pycache__/
.vscode

# keeping ini private
.uwsgi-py3.ini

# logs and data
.uwsgi-py3.log
*.sqlite
tabulatefiles

# generated at runtime
html/cache.html
html/index.html

#symlinks
alt1/constructioncontracts
alt1/transcriber